* {
    color:salmon;
    background-color: #488D9A;
    /* background-color: #B7E769; */
}

.limeBorder {
    border: 2px solid #B7E769;
}


th, td, tr, table {
    border: 2px solid #B7E769;
    background-color: #152a2e;
}

.locations {
    border: 2px solid darkslategray;
}

img {
    max-width: 200px;
    max-height: 200px;
}

#familyImg {
    display: block;
    max-width: 800px;
    max-height: 350px;
    margin-left: auto;
    margin-right: auto;
}

#familyZone {
    text-align: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#mainContent {
    width: 50%;
}

#mainSplit {
    display: flex;
}

.pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}

#cookieKit {
    background-color: #B7E769;
    font-size: larger;
    text-align: center;
    margin-top: 30%;
}

#pageSwitch {
    text-align: center;
    font-size: 40px;
    margin-left:34%;
    margin-top: 14%;
    background-color: #B7E769;
}

.required:after {
    content: " *";
    color: red;
}